<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="target-densitydpi=353,width=800,user-scalable=no">
    <meta name="apple-touch-fullscreen" content="no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="no">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Demo</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/underscore.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div id="background"></div>
        <div class="nav_box">
            <div class="nav_li" id="nav_menu_close">
                <span></span>
                <p>我的专区</p>
            </div>
            <a class="nav_li" href="#">
                <span></span>
                <p>购物车</p>
            </a>
            <a class="nav_li" href="query-list.html">
                <span></span>
                <p>积分查询</p>
            </a>
            <a class="nav_li" href="oders-list.html">
                <span></span>
                <p>积分订单</p>
            </a>
            <a class="nav_li" href="info.html">
                <span></span>
                <p>个人信息</p>
            </a>
        </div>
        <div class="header">
            <a href="javascript:void(0)" id="nav_menu_open"></a>
            <p>新建地址</p>
            <img src="images/logo.png" />
        </div>
        <div class="cart_main">
            <ul class="cart_list" id="cart_list">
                <li productId="1" credit="2000" product="人头马VSOP" size="70CL">
                    <label class="label"><input type="checkbox" name="item" /><i></i></label>
                    <div class="cart_right">
                        <img src="images/product.jpg" />
                        <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                        <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                        <div class="confirm_count">
                            <div class="reduce">-</div>
                            <p class="count">1</p>
                            <div class="plus">+</div>
                        </div>
                    </div>
                </li>
                <li productId="2" credit="2000" product="人头马VSOP" size="70CL">
                    <label class="label"><input type="checkbox" name="item" /><i></i></label>
                    <div class="cart_right">
                        <img src="images/product.jpg" />
                        <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                        <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                        <div class="confirm_count">
                            <div class="reduce">-</div>
                            <p class="count">1</p>
                            <div class="plus">+</div>
                        </div>
                    </div>
                </li>
                <li productId="3" credit="2000" product="人头马VSOP" size="70CL">
                    <label class="label"><input type="checkbox" name="item" /><i></i></label>
                    <div class="cart_right">
                        <img src="images/product.jpg" />
                        <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                        <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                        <div class="confirm_count">
                            <div class="reduce">-</div>
                            <p class="count">1</p>
                            <div class="plus">+</div>
                        </div>
                    </div>
                </li>
                <li productId="4" credit="2000" product="人头马VSOP" size="70CL">
                    <label class="label"><input type="checkbox" name="item" /><i></i></label>
                    <div class="cart_right">
                        <img src="images/product.jpg" />
                        <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                        <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                        <div class="confirm_count">
                            <div class="reduce">-</div>
                            <p class="count">1</p>
                            <div class="plus">+</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="product_foot cart_foot">
            <div class="select_all">
                <label class="label"><input type="checkbox" name="item" id="addAll" /><i></i></label>
                <span>全选</span>
                <p>当前积分：<span id="totalCredit">0</span></p>
            </div>
            <a href="javascript:void(0)" class="detail_btn" id="submit">兑换</a>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script>
        var allData=[];

        $('#cart_list li').each(function(){
            var target=$(this);
            $(this).find('.plus').click(function(){
                $(this).siblings('.count').text(parseInt($(this).siblings('.count').text())+1);
                selectProduct(target)
            });
            $(this).find('.reduce').click(function(){
                if(parseInt($(this).siblings('.count').text())>1){
                    $(this).siblings('.count').text(parseInt($(this).siblings('.count').text())-1);
                    selectProduct(target)
                }
            });
            $(this).find('[name=item]').change(function(){
                selectProduct(target)
            })
        });

        $('#addAll').change(function(){
            var state=$(this).attr('checked');
            if(state){
                $('#cart_list [name=item]').attr('checked',true);
            }else{
                $('#cart_list [name=item]').attr('checked',false);
            }
            $('#cart_list li').each(function(){
                selectProduct($(this))
            });
        });


        function selectProduct(ele){
            if(ele.find('[name=item]').attr('checked')) {
                var result = _.find(allData, function (re) {
                    return re.id == ele.attr('productId')
                });
                var count = ele.find('.count').text();

                if (result) {
                    result.count = count;
                    result.credit = ele.attr('credit') * count;
                } else {
                    allData.push({
                        id: ele.attr('productId'),
                        name: ele.attr('product'),
                        size: ele.attr('size'),
                        count: count,
                        credit: ele.attr('credit') * count
                    })
                }
            }else{
                var result = _.find(allData, function (re) {
                    return re.id == ele.attr('productId')
                });
                if(result){
                    var index=_.indexOf(allData,result);
                    allData.splice(index,1)
                }
            }
            var total=0;
            console.log(allData);
            allData.forEach(function(i){
                total=total+parseInt(i.credit)
            });
            $('#totalCredit').text(total)
        }

    </script>
</body>
</html>