<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="target-densitydpi=353,width=800,user-scalable=no">
    <meta name="apple-touch-fullscreen" content="no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="no">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Demo</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div id="background"></div>
        <div class="nav_box">
            <div class="nav_li" id="nav_menu_close">
                <span></span>
                <p>我的专区</p>
            </div>
            <a class="nav_li" href="#">
                <span></span>
                <p>购物车</p>
            </a>
            <a class="nav_li" href="query-list.html">
                <span></span>
                <p>积分查询</p>
            </a>
            <a class="nav_li" href="oders-list.html">
                <span></span>
                <p>积分订单</p>
            </a>
            <a class="nav_li" href="info.html">
                <span></span>
                <p>个人信息</p>
            </a>
        </div>
        <div class="header">
            <a href="javascript:void(0)" id="nav_menu_open"></a>
            <p>积分订单</p>
            <img src="images/logo.png" />
        </div>
        <div class="main">
            <div class="oders_detail_info">
                <h1>顺丰速递</h1>
                <p>运单编号：96969696969</p>
            </div>
            <ul class="oders_list oders_detail">
                <li>
                    <h1>2015.1.15 16:00</h1>
                    <div class="oders_main">
                        <img src="images/product.jpg" />
                        <p>人头马VSOP</p>
                        <h2>特优香槟干邑2014款限量珍藏礼盒蔡依林限限量版3</h2>
                        <h3>所需积分：<i>2000</i> 积分</h3>
                    </div>
                    <p>
                        共1件商品    合计：<span>2000积分</span>
                        <a href="oders-detail.html" class="detail_btn">查看物流</a>
                    </p>
                    <p>订单号：98766555544566</p>
                </li>
            </ul>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>