<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="target-densitydpi=353,width=800,user-scalable=no">
    <meta name="apple-touch-fullscreen" content="no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="no">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Demo</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script src="js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div id="background"></div>
        <div class="nav_box">
            <div class="nav_li" id="nav_menu_close">
                <span></span>
                <p>我的专区</p>
            </div>
            <a class="nav_li" href="#">
                <span></span>
                <p>购物车</p>
            </a>
            <a class="nav_li" href="query-list.html">
                <span></span>
                <p>积分查询</p>
            </a>
            <a class="nav_li" href="oders-list.html">
                <span></span>
                <p>积分订单</p>
            </a>
            <a class="nav_li" href="info.html">
                <span></span>
                <p>个人信息</p>
            </a>
        </div>
        <div class="header">
            <a href="javascript:void(0)" id="nav_menu_open"></a>
            <p>积分查询</p>
            <img src="images/logo.png" />
        </div>
        <div class="main">
            <div class="cur_info">
                <p>尊敬人头马会员的姚小姐</p>
                <p>您目前享有积分</p>
                <h1>500分</h1>
            </div>
            <ul class="query_list">
                <li>
                    <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
                    <p>获取分数：<span>+150分</span></p>
                    <a href="query-detail.html" class="detail_btn">查看记录</a>
                </li>
                <li>
                    <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
                    <p>获取分数：<span class="error">-150分</span></p>
                    <a href="query-detail.html" class="detail_btn">查看记录</a>
                </li>
                <li>
                    <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
                    <p>获取分数：<span>+150分</span></p>
                    <a href="query-detail.html" class="detail_btn">查看记录</a>
                </li>
                <li>
                    <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
                    <p>获取分数：<span>+150分</span></p>
                    <a href="query-detail.html" class="detail_btn">查看记录</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>