<div class="product_head">
    <p></p>
    <img src="images/logo.png" />
</div>
<div class="main">
    <div class="info_form">
        <form action="" id="in_form">
            <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
            <select>
                <option></option>
            </select>
            <input type="text" name="info_province" class="required info_input info_input_addr" placeholder="" />
            <input type="text" name="info_city" class="required info_input info_input_addr" placeholder="" />
            <input type="text" name="info_region" class="required info_input info_input_addr" placeholder="" />
            <button class="detail_btn">确定提交</button>
        </form>
    </div>
</div>