<div class="main">
    <ul class="oders_list oders_detail">
        <li>
            <h1>订单号：122384839484<span>2015.1.15 16:00</span></h1>
            <div class="oders_main">
                <p>购买产品：</p>
                <p>人头马禧钻特优香槟干邑       70CL x1</p>
                <p>人头马禧钻特优香槟干邑       70CL x1</p>
                <p>人头马禧钻特优香槟干邑       70CL x1</p>
                <h2>积分总计:<span>860</span>积分</h2>
                <a href="" class="detail_btn"></a>
            </div>
        </li>
    </ul>
</div>