<div class="product_head"><img src="images/logo.png" /></div>
<div class="product_main">
    <div class="product_list" id="product_list">
        <!--第一项-->
        <div>
            <h1><span></span>人头马商品名</h1>
            <p><i>1.5L</i><i>2.5L</i><i>150L</i></p>
            <span></span>
        </div>
        <ul>
            <li extra-data="1" name="人头马商品名" size="1.5L" credit="150">
                <span>+</span><span>0</span><span>-</span><span>1.5L</span>
            </li>
            <li extra-data="2" name="人头马商品名" size="2.5L" credit="250">
                <span>+</span><span>0</span><span>-</span><span>2.5L</span>
            </li>
            <li extra-data="3" name="人头马商品名" size="150L" credit="10">
                <span>+</span><span>0</span><span>-</span><span>150L</span>
            </li>
        </ul>

        <!--第二项-->
        <div>
            <h1><span></span>人头马商品名2</h1>
            <p><i>1.5L</i><i>2.5L</i><i>150L</i></p>
            <span></span>
        </div>
        <ul>
            <li extra-data="4" name="人头马商品名2" size="1.5L" credit="150">
                <span>+</span><span>0</span><span>-</span><span>1.5L</span>
            </li>
            <li extra-data="5" name="人头马商品名2" size="2.5L" credit="250">
                <span>+</span><span>0</span><span>-</span><span>2.5L</span>
            </li>
            <li extra-data="6" name="人头马商品名2" size="150L" credit="10">
                <span>+</span><span>0</span><span>-</span><span>150L</span>
            </li>
        </ul>
    </div>
</div>
<div class="product_foot">
    <a href="javascript:void(0)" class="detail_btn" id="submit">确认</a>
    <a href="javascript:void(0)" class="detail_btn">查询未扫码订单</a>
</div>
<form id="product_form" action="demo.html" method="post">
    <input type="hidden" name="data" id="product_data" />
</form>