<div class="main">
    <ul class="query_list address_list">
        <li>
            <h1>王思聪，14939473249<span>默认地址&nbsp;&nbsp;&nbsp;地址一</span></h1>
            <h1>上海市 徐汇区 擦擦擦</h1>
            <h1>发货快放寒假盛大开放和萨芬</h1>
        </li>
        <li>
            <h1>王思聪，14939473249<span>地址二</span></h1>
            <h1>上海市 徐汇区 擦擦擦</h1>
            <h1>发货快放寒假盛大开放和萨芬</h1>
        </li>
    </ul>
    <div class="product_foot addr_foot">
        <input class="detail_btn" type="submit" id="submit" value="添加新地址">
    </div>
</div>