
<div class="cart_main">
    <ul class="cart_list" id="cart_list">
        <li productId="1" credit="2000" product="人头马VSOP" size="70CL">
            <label class="label"><input type="checkbox" name="item" /><i></i></label>
            <div class="cart_right">
                <img src="images/product.jpg" />
                <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                <div class="confirm_count">
                    <div class="reduce">-</div>
                    <p class="count">1</p>
                    <div class="plus">+</div>
                </div>
            </div>
        </li>
        <li productId="2" credit="2000" product="人头马VSOP" size="70CL">
            <label class="label"><input type="checkbox" name="item" /><i></i></label>
            <div class="cart_right">
                <img src="images/product.jpg" />
                <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                <div class="confirm_count">
                    <div class="reduce">-</div>
                    <p class="count">1</p>
                    <div class="plus">+</div>
                </div>
            </div>
        </li>
        <li productId="3" credit="2000" product="人头马VSOP" size="70CL">
            <label class="label"><input type="checkbox" name="item" /><i></i></label>
            <div class="cart_right">
                <img src="images/product.jpg" />
                <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                <div class="confirm_count">
                    <div class="reduce">-</div>
                    <p class="count">1</p>
                    <div class="plus">+</div>
                </div>
            </div>
        </li>
        <li productId="4" credit="2000" product="人头马VSOP" size="70CL">
            <label class="label"><input type="checkbox" name="item" /><i></i></label>
            <div class="cart_right">
                <img src="images/product.jpg" />
                <p>人头马VSOP特优香槟干邑2014款限量珍藏礼盒蔡依林限量版配同款礼袋</p>
                <h1>规格：70CL<span><i>2000</i>积分</span></h1>
                <div class="confirm_count">
                    <div class="reduce">-</div>
                    <p class="count">1</p>
                    <div class="plus">+</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="product_foot cart_foot">
    <div class="select_all">
        <label class="label"><input type="checkbox" name="item" id="addAll" /><i></i></label>
        <span>全选</span>
        <p>当前积分：<span id="totalCredit">0</span></p>
    </div>
    <a href="javascript:void(0)" class="detail_btn" id="submit">兑换</a>
</div>
