<div class="main">
    <div class="info_form">
        <form action="" id="info_form">
            <p>收货人姓名</p>
            <input type="text" name="info_name" class="required info_input" placeholder="收货人姓名" />
            <p>手机号码</p>
            <input type="tel" name="info_tel" class="required info_input" placeholder="手机号码" />
            <p>省市区</p>
            <input type="text" name="info_addr" class="required info_input" placeholder="省 市 区" />
            <p>详细地址</p>
            <input type="text" name="info_addr_detail" class="required info_input" placeholder="详细地址" />
            <p>出生日期</p>
            <input type="date" name="info_date" class="required info_input" placeholder="出生日期" />
            <button class="detail_btn">确定提交</button>
        </form>
    </div>
</div>