<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="target-densitydpi=353,width=800,user-scalable=no">
    <meta name="apple-touch-fullscreen" content="no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="no">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Demo</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.validVal.min.js"></script>
    <style>
        textarea.invalid, select.invalid,
        input[type='tel'].invalid,input[type='text'].invalid, input[type='password'].invalid,
        input[type='number'].invalid, input[type='email'].invalid, input[type='url'].invalid {
            border-color: red;
        }
    </style>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div id="background"></div>
        <div class="nav_box">
            <div class="nav_li" id="nav_menu_close">
                <span></span>
                <p>我的专区</p>
            </div>
            <a class="nav_li" href="#">
                <span></span>
                <p>购物车</p>
            </a>
            <a class="nav_li" href="query-list.html">
                <span></span>
                <p>积分查询</p>
            </a>
            <a class="nav_li" href="oders-list.html">
                <span></span>
                <p>积分订单</p>
            </a>
            <a class="nav_li" href="info.html">
                <span></span>
                <p>个人信息</p>
            </a>
        </div>
        <div class="header">
            <a href="javascript:void(0)" id="nav_menu_open"></a>
            <p>新建地址</p>
            <img src="images/logo.png" />
        </div>
        <div class="main">
            <div class="info_form">
                <form action="" id="info_form">
                    <p>收货人姓名</p>
                    <input type="text" name="info_name" class="required info_input" placeholder="收货人姓名" />
                    <p>手机号码</p>
                    <input type="tel" name="info_tel" class="required info_input" placeholder="手机号码" />
                    <p>省市区</p>
                    <input type="text" name="info_addr" class="required info_input" placeholder="省 市 区" />
                    <p>详细地址</p>
                    <input type="text" name="info_addr_detail" class="required info_input" placeholder="详细地址" />
                    <div class="product_foot modify_foot">
                        <button class="detail_btn">确定修改</button>
                        <button class="detail_btn" id="delete">删除</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
    <script>
        $('#info_form').validVal({
            form:{
                onInvalid: function( $fields, language ) {
                    myAlert({
                        mode:1,
                        title:'部分信息不完整',
                        btn1:' 确 定',
                        close:function(ele){
                            ele.remove()
                        },
                        btnClick:function(ele){
                            ele.remove()
                        }
                    });
                }
            }
        });

        $('#delete').click(function(e){
            e.preventDefault();
            myAlert({
                mode:2,
                title:'确定删除',
                content:'是否确定删除该条信息？',
                btn1:'返 回',
                btn2:'确 定',
                close:function(ele){
                    ele.remove()
                },
                btnClick:function(ele){
                    ele.remove()
                },
                btnClick2:function(ele){
                    alert(11);
                    ele.remove()
                }
            });
        })
    </script>
</body>
</html>