<form id="addr_form">
    <div class="main">
        <div class="oders_main oders_main2">
            <img src="images/product.jpg" />
            <p>人头马VSOP</p>
            <h2>规格：1.5L</h2>
            <h3>所需积分：<i>2000</i> 积分</h3>
        </div>
        <p class="oder_title">备注：</p>
        <input type="text" name="message" class="info_input" placeholder="给店家留言" />
        <p class="oder_title">共 1 件商品<span>合计：500积分</span></p>
    </div>
    <div class="address">
        <div class="addr_left">
            <p>还没有地址</p>
            <p>地址</p>
            <p>地址</p>
        </div>
        <div class="addr_right">
            <a href="javascript:void(0)" class="detail_btn" id="select_address">新建地址</a>
            <input type="text" style="visibility: hidden; height:0" class="required" id="address"
                   name="address" />
            <p><span>*</span>请填写完整的地址信息</p>
        </div>
    </div>
    <div class="product_foot addr_foot">
        <input class="detail_btn" type="submit" id="submit" value="确定提交"/>
    </div>
</form>
