<div class="main">
    <ul class="oders_list">
        <li>
            <h1>2015.1.15 16:00</h1>
            <div class="oders_main">
                <img src="images/product.jpg" />
                <p>人头马VSOP</p>
                <h2>特优香槟干邑2014款限量珍藏礼盒蔡依林限限量版3</h2>
                <h3>所需积分：<i>2000</i> 积分</h3>
            </div>
            <p>
                共1件商品    合计：<span>2000积分</span>
                <a href="javascript:void(0)" class="detail_btn" extra-data="1">查看物流</a>
            </p>
        </li>
        <li>
            <h1>2015.1.15 16:00</h1>
            <div class="oders_main">
                <img src="images/product.jpg" />
                <p>人头马VSOP</p>
                <h2>特优香槟干邑2014款限量珍藏礼盒蔡依林限限量版3</h2>
                <h3>所需积分：<i>2000</i> 积分</h3>
            </div>
            <p>
                共1件商品    合计：<span>2000积分</span>
                <a href="javascript:void(0)" class="detail_btn" extra-data="2">查看物流</a>
            </p>
        </li>
    </ul>
</div>