<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="target-densitydpi=353,width=800,user-scalable=no">
    <meta name="apple-touch-fullscreen" content="no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="no">

    <meta name="renderer" content="webkit">

    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Demo</title>
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.validVal.min.js"></script>
</head>
<body>
    <div class="wrapper" id="wrapper">
        <div id="background"></div>
        <div class="nav_box">
            <div class="nav_li" id="nav_menu_close">
                <span></span>
                <p>我的专区</p>
            </div>
            <a class="nav_li" href="#">
                <span></span>
                <p>购物车</p>
            </a>
            <a class="nav_li" href="query-list.html">
                <span></span>
                <p>积分查询</p>
            </a>
            <a class="nav_li" href="oders-list.html">
                <span></span>
                <p>积分订单</p>
            </a>
            <a class="nav_li" href="info.html">
                <span></span>
                <p>个人信息</p>
            </a>
        </div>
        <div class="header">
            <a href="javascript:void(0)" id="nav_menu_open"></a>
            <p>积分订单</p>
            <img src="images/logo.png" />
        </div>
        <form action="/" id="addr_form">
            <div class="main">
                <div class="oders_main oders_main2">
                    <img src="images/product.jpg" />
                    <p>人头马VSOP</p>
                    <h2>规格：1.5L</h2>
                    <h3>所需积分：<i>2000</i> 积分</h3>
                </div>
                <p class="oder_title">备注：</p>
                <input type="text" name="message" class="info_input" placeholder="给店家留言" />
                <p class="oder_title">共 1 件商品<span>合计：500积分</span></p>
            </div>
            <div class="address">
                <div class="addr_left">
                    <p>还没有地址</p>
                    <p>地址</p>
                    <p>地址</p>
                </div>
                <div class="addr_right">
                    <a href="javascript:void(0)" class="detail_btn">新建地址</a>
                    <input type="text" style="visibility: hidden; height:0" class="required" id="address"
                           name="address" />
                    <p><span>*</span>请填写完整的地址信息</p>
                </div>
            </div>
            <div class="product_foot addr_foot">
                <input class="detail_btn" type="submit" id="submit" value="确定提交"/>
            </div>
        </form>
    </div>
    <script src="js/main.js"></script>
    <script>
        $('#addr_form').validVal({
            form:{
                onInvalid: function( $fields, language ) {
                    myAlert({
                        mode:1,
                        title:'请选择地址',
                        btn1:' 确 定',
                        close:function(ele){
                            ele.remove()
                        },
                        btnClick:function(ele){
                            ele.remove()
                        }
                    });
                }
            }
        })
    </script>
</body>
</html>