<div class="main">
    <div class="cur_info">
        <p>尊敬人头马会员的姚小姐</p>
        <p>您目前享有积分</p>
        <h1>500分</h1>
    </div>
    <ul class="query_list">
        <li>
            <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
            <p>获取分数：<span>+150分</span></p>
            <a href="javascript:void(0)" class="detail_btn" extra-data="1">查看记录</a>
        </li>
        <li>
            <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
            <p>获取分数：<span class="error">-150分</span></p>
            <a href="javascript:void(0)" class="detail_btn" extra-data="2">查看记录</a>
        </li>
        <li>
            <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
            <p>获取分数：<span>+150分</span></p>
            <a href="javascript:void(0)" class="detail_btn" extra-data="3">查看记录</a>
        </li>
        <li>
            <h1>2015.1.15 16:00<span>上海中山西路龙之梦</span></h1>
            <p>获取分数：<span>+150分</span></p>
            <a href="javascript:void(0)" class="detail_btn" extra-data="4">查看记录</a>
        </li>
    </ul>
</div>